<div class="h-full w-full grid md:grid-rows-10 grid-cols-12 gap-2">
  <!-- Values -->
  <div class="row-span-2 col-span-6 md:col-span-3 md:p-2 md:order-none order-4">
    <app-data-card-label [value]="totalUsers()" [label]="'app.features.dashboard.admin.users' | translate" />
  </div>
  <div class="row-span-2 col-span-6 md:col-span-3 md:p-2 md:order-none order-5">
    <app-data-card-label
      [value]="pendingRequestsCount()"
      [label]="'app.features.dashboard.admin.pendingRequests' | translate"
    />
  </div>
  <div class="row-span-2 col-span-6 md:col-span-3 md:p-2 md:order-none order-6">
    <app-data-card-label
      [value]="totalHealthCenters()"
      [label]="'app.features.dashboard.admin.healthCenters' | translate"
    />
  </div>
  <div class="row-span-2 col-span-6 md:col-span-3 md:p-2 md:order-none order-4">
    <app-data-card-label [value]="totalLocations()" [label]="'app.features.dashboard.admin.locations' | translate" />
  </div>

  <!-- Charts -->
  <mat-card
    class="row-span-6 col-span-12 md:col-span-6 md:order-none order-8 flex justify-center items-center"
  >
    <app-admin-dashboard-pie-chart></app-admin-dashboard-pie-chart>
  </mat-card>

  <!-- records line charts -->
  <mat-card
    class="row-span-6 col-span-12 md:col-span-6 md:order-none order-11 flex justify-center"
  >
    <app-admin-dashboard-line-chart></app-admin-dashboard-line-chart>
  </mat-card>

  <!-- <div
    class="row-span-6 col-span-12 md:col-span-6 md:order-none order-10 p-2"
  ></div> -->
</div>
