<div class="flex flex-col gap-5">
  <app-page-header
    [title]="(isUpdate() ? 'app.features.registry.healthRecord.forms.updateTitle' : 'app.features.registry.healthRecord.forms.addTitle') | translate"
  />
  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <!-- Basic Details -->
    <mat-step [stepControl]="steps.basicDetails">
      <form [formGroup]="steps.basicDetails">
        <ng-template matStepLabel>{{
          "app.features.registry.healthRecord.forms.steps.step1" | translate
        }}</ng-template>
        <div class="flex gap-3 flex-wrap md:w-2/3">
          <mat-form-field>
            <mat-label>{{
              "app.features.registry.healthRecord.forms.labels.date" | translate
            }}</mat-label>
            <input matInput type="date" formControlName="date" required />
            <app-validation-error [control]="steps.basicDetails.controls.date" />
          </mat-form-field>
        </div>
        <div>
          <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
        </div>
      </form>
    </mat-step>

    <!-- Health Status -->
    <mat-step [stepControl]="steps.healthStatus">
      <form [formGroup]="steps.healthStatus">
        <ng-template matStepLabel>{{
          "app.features.registry.healthRecord.forms.steps.step2" | translate
        }}</ng-template>
        <div class="flex gap-3 flex-wrap md:w-2/3">
          <mat-form-field>
            <mat-label>{{
              "app.features.registry.healthRecord.forms.labels.height" | translate
            }}</mat-label>
            <input matInput type="number" formControlName="height" required />
            <app-validation-error [control]="steps.healthStatus.controls.height" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{
              "app.features.registry.healthRecord.forms.labels.weight" | translate
            }}</mat-label>
            <input matInput type="number" formControlName="weight" />
            <app-validation-error [control]="steps.healthStatus.controls.weight" />
          </mat-form-field>
        </div>
        <div>
          <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
          <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
        </div>
      </form>
    </mat-step>

    <!-- Pregnancy Status -->
    <mat-step [stepControl]="steps.pregnancyStatus">
      <form [formGroup]="steps.pregnancyStatus">
        <ng-template matStepLabel>{{
          "app.features.registry.healthRecord.forms.steps.step3" | translate
        }}</ng-template>
        <div class="flex gap-3 flex-wrap md:w-2/3">
          <mat-checkbox formControlName="pregnant">
            <mat-label>{{
              "app.features.registry.healthRecord.forms.labels.pregnant" | translate
            }}</mat-label>
          </mat-checkbox>
          <app-validation-error [control]="steps.pregnancyStatus.controls.pregnant" />
        </div>

        <div>
          <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
          <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
        </div>
      </form>
    </mat-step>

    <!-- NCD Status -->
    <mat-step [stepControl]="steps.ncdStatus">
      <form [formGroup]="steps.ncdStatus">
        <ng-template matStepLabel>{{
          "app.features.registry.healthRecord.forms.steps.step4" | translate
        }}</ng-template>
        <div class="flex gap-3 flex-wrap md:w-2/3">
          @for(ncd of ncdOptions() ; track $index){
          <div>
            <mat-checkbox formControlName="ncdlist" [value]="ncd.id ?? ''">{{
              ncd.name
            }}</mat-checkbox>
          </div>
          }
          <app-validation-error [control]="steps.ncdStatus.controls.ncdlist" />
        </div>

        <div>
          <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
          <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
        </div>
      </form>
    </mat-step>

    <!-- Done -->
    <mat-step>
      <ng-template matStepLabel>{{
        "app.common.doneTitle" | translate
      }}</ng-template>
      <p>{{ "app.common.doneMessage" | translate }}</p>
      <div>
        <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
        <button matButton (click)="stepper.reset()">
          {{ "app.common.resetButton" | translate }}
        </button>
        <button matButton="filled" (click)="onSubmit()" [disabled]="isLoading()">
          {{ "app.common.submitButton" | translate }}
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
