<div class="flex flex-col gap-3 items-center w-72">
  <div class="w-full text-center px-5">
    <h3 class="font-normal">Login</h3>
  </div>

  <div class="flex justify-center items-center w-full flex-col gap-3">
    <mat-form-field  class="w-full">
      <mat-label>Username</mat-label>
      <input matInput required [disabled]="isLoading" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input matInput type="password" required [disabled]="isLoading"/>
    </mat-form-field>

    <button
      matButton="filled"
      class="w-full"
      (click)="login()"
      [disabled]="isLoading"
      [routerLink]="'/dashboard'"
      
    >
      @if (isLoading) {
        <mat-spinner diameter="20"></mat-spinner>
      }@else { Login }
    </button>
    <button matButton="text" class="w-full" routerLink="/register">New Registration</button>
  </div>
</div>
