<div class="flex flex-col gap-3 items-center w-72">
  <div class="w-full text-center px-5">
    <h3 class="font-normal">{{ "login.title" | translate }}</h3>
  </div>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="login()"
    novalidate
    class="flex justify-center items-center w-full flex-col gap-3"
  >
    <mat-form-field class="w-full">
      <mat-label>{{ "login.username" | translate }}</mat-label>
      <input type="text" matInput required formControlName="username" />
      <app-validation-error [control]="this.loginForm.controls.username" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>{{ "login.password" | translate }}</mat-label>
      <input matInput type="password" required formControlName="password" />
      <app-validation-error [control]="this.loginForm.controls.password" />
    </mat-form-field>

    <button
      matButton="filled"
      class="w-full"
      [disabled]="isLoading() || loginForm.invalid"
    >
      @if (isLoading()) {
      <mat-spinner diameter="20"></mat-spinner>
      } @else {
      {{ "login.submitButton" | translate }}
      }
    </button>
    <button matButton="text" class="w-full" routerLink="/auth/register">
      {{ "login.newRegistration" | translate }}
    </button>
  </form>
</div>
