<div
  id="main-container"
  class="h-dvh w-full flex justify-start overflow-hidden"
>
  <div id="sidebar">
    <app-side-navbar />
    <app-bottom-navbar />
  </div>
  <div
    id="secondary-container"
    class="w-full flex flex-col md:px-5 md:pb-2 gap-1"
  >
    @if(isDashboard()){
    <app-top-appbar />
    }@else {
    <div class="hidden md:block">
      <app-top-appbar />
    </div>
    }
    <div
      class="h-full w-full overflow-scroll mb-14 md:m-0 rounded-md md:p-2"
      style="box-shadow: var(--mat-sys-level3)"
    >
      <router-outlet />
    </div>
  </div>
</div>
