@if(roleRequestList().length == 0){
<div class="flex justify-center items-center">
  <mat-icon>search_off</mat-icon>
  <h4 class="ml-4 text-wrap">No Role Request found. Try adding a new one!</h4>
</div>
}@else {
<mat-action-list>
  @for (roleRequest of roleRequestList(); track $index) {
  <a mat-list-item [routerLink]="['/role-requests', roleRequest.id]">
    <div matListItemIcon>
      <mat-icon>{{ getIcon(roleRequest.status ?? "") }}</mat-icon>
    </div>
    <h3 matListItemTitle>
      <strong> {{ roleRequest.status }} </strong>
    </h3>
    <p matListItemLine>
      Remark -
      <em>
        {{ roleRequest.name?.firstname }}
      </em>
    </p>

    <p matListItemMeta class="mat-body-2 text-sm text-gray-500 mt-2">
      {{ roleRequest.createdAt | date }}
    </p>
  </a>
  }
</mat-action-list>
}
