<app-page-wrapper>
  <div top>
    <app-page-header title="Health Details">
      <mat-action-list>
        <a matIconButton>
          <mat-icon>more_vert</mat-icon>
        </a>
      </mat-action-list>
    </app-page-header>
  </div>

  <div content class="w-full flex flex-wrap gap-3">
    <!-- Health Details -->
    <div class="paper h-max flex-[3] flex flex-wrap">
      <div class="flex-[2]">
        <mat-list>
          <app-data-label
            name="familyId"
            value="13122"
            icon="shower"
          ></app-data-label>
          <app-data-label
            name="familyId"
            value="13122"
            icon="shower"
          ></app-data-label>
          <app-data-label
            name="familyId"
            value="13122"
            icon="shower"
          ></app-data-label>
          <app-data-label
            name="familyId"
            value="13122"
            icon="shower"
          ></app-data-label>
        </mat-list>
      </div>
      <div class="flex-[2]">
        <mat-list>
          <app-data-label
            name="familyId"
            value="13122"
            icon="shower"
          ></app-data-label>
          <app-data-label
            name="familyId"
            value="13122"
            icon="shower"
          ></app-data-label>
          <app-data-label
            name="familyId"
            value="13122"
            icon="shower"
          ></app-data-label>
          <app-data-label
            name="familyId"
            value="13122"
            icon="shower"
          ></app-data-label>
        </mat-list>
      </div>
    </div>

    <!-- Actions -->
    <div class=" flex-[1] flex  flex-col p-2 gap-5">
      <button
        matButton="filled"
        [routerLink]="'/registry/health/records/new'"
      >
        <mat-icon>add</mat-icon>
        Add New Health Record
      </button>
      <a matButton="outlined" [routerLink]="`/registry/member/1`"
        >View Member Profile
      </a>
      <a matButton="outlined" [routerLink]="`/registry/health/records`"
        >View Past Health Records
      </a>
    </div>
  </div>
</app-page-wrapper>
