<div class="h-full w-full grid md:grid-rows-12 grid-cols-12 gap-2">
  <!-- Greetings -->
  <div class="row-span-2 col-span-12 p-2">
    <app-dashboard-header
      message="You don't have enough permission to access this application, Please make a role request to get full access."
    />
  </div>

  <!-- Values -->

  <div class="row-span-2 col-span-12 p-2">
    <app-data-card-label [value]="`Pending`" [label]="`Profile Status`" />
  </div>

  <!-- records line charts -->

  <div class="row-span-10 col-span-12 p-2 gap-2">
    <div class="overflow-auto p-2 paper">
      <div class="p-2 flex justify-center">
        <button matFab extended [routerLink]="'new'">
          <mat-icon>add</mat-icon>
          Make Role Request
        </button>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>
        <caption>
          <h4>Previous Requests</h4>
        </caption>
        <!-- Columns -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
          <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef="fruit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fruit</th>
          <td mat-cell *matCellDef="let row">{{ row.fruit }}</td>
        </ng-container>

        <!-- Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
