<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!-- HealthCenter Details -->
  <mat-step [stepControl]="steps.healthCenterDetails">
    <form [formGroup]="steps.healthCenterDetails">
      <ng-template matStepLabel>
        {{ "app.features.masterdata.healthCenter.forms.steps.step1" | translate }}
      </ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{ "app.features.masterdata.healthCenter.forms.labels.name" | translate }}</mat-label>
          <input matInput formControlName="name" required />
          <app-validation-error [control]="steps.healthCenterDetails.controls.name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "app.features.masterdata.healthCenter.forms.labels.type" | translate }}</mat-label>
          <mat-select required formControlName="centerType">
            @for (type of healthCenterTypeList(); track $index) {
            <mat-option [value]="`${type.code}`">{{ type.label }}</mat-option>
            }
          </mat-select>
          <app-validation-error
            [control]="steps.healthCenterDetails.controls.centerType"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "app.features.masterdata.healthCenter.forms.labels.totalFamilies" | translate }}</mat-label>
          <input matInput formControlName="totalFamilies" required />
          <app-validation-error
            [control]="steps.healthCenterDetails.controls.totalFamilies"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "app.features.masterdata.healthCenter.forms.labels.totalPopulation" | translate }}</mat-label>
          <input matInput formControlName="totalPopulation" required />
          <app-validation-error
            [control]="steps.healthCenterDetails.controls.totalPopulation"
          />
        </mat-form-field>
      </div>
      <div>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Address Details -->
  <mat-step [stepControl]="steps.addressDetails">
    <form [formGroup]="steps.addressDetails">
      <ng-template matStepLabel>
        {{ "app.features.masterdata.healthCenter.forms.steps.step2" | translate }}
      </ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{ "app.features.masterdata.healthCenter.forms.labels.location" | translate }}</mat-label>
          <mat-select required formControlName="locationId">
            @for (location of locationList(); track $index) {
            <mat-option [value]="`${location.id}`">{{ location.name }}</mat-option>
            }
          </mat-select>
          <app-validation-error
            [control]="steps.addressDetails.controls.locationId"
          />
        </mat-form-field>
      </div>

      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Done -->
  <mat-step>
    <ng-template matStepLabel>
      {{ "app.common.doneTitle" | translate }}
    </ng-template>
    <p>{{ "app.common.doneMessage" | translate }}</p>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">
        {{ "app.common.resetButton" | translate }}
      </button>
      <button matButton="filled" (click)="onSubmit()" [disabled]="isLoading()">
        {{ "app.common.submitButton" | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
