<app-page-wrapper>
  <div top>
    <app-page-header title="Health Center Details">
      <mat-action-list>
        <a matIconButton [matMenuTriggerFor]="menu">
          <mat-icon class="h-[24px] w-[24px]">more_vert</mat-icon>
        </a>
      </mat-action-list>

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button
          mat-menu-item
          [routerLink]="['/masterdata/healthCenters/update', healthCenterDetails()?.id ?? '']"
        >
          <mat-icon>edit</mat-icon>
          <span>Update</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="handleDeleteClick()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </app-page-header>
  </div>

  <div content class="flex flex-wrap justify-evenly gap-3">
    <!-- HealthCenter Details -->
    @if (data().length === 0 || !healthCenterDetails()) {
    <div class="overflow-scroll flex justify-center items-center">
      <mat-icon>search_off</mat-icon>
      <h4 class="ml-4 text-wrap">Not Found</h4>
    </div>
    }@else {
    <div class="paper flex w-full flex-wrap">
      <app-health-center-details [healthCenterData]="data()"></app-health-center-details>
    </div>
    }
  </div>
</app-page-wrapper>
