<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!-- Personal Details -->
  <mat-step [stepControl]="personalDetails">
    <form [formGroup]="personalDetails">
      <ng-template matStepLabel>{{
        "roleReqeust.step1Title" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{ "roleReqeust.firstnameLabel" | translate }}</mat-label>
          <input matInput formControlName="firstname" required />
          <app-validation-error
            [control]="personalDetails.controls.firstname"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "roleReqeust.middlenameLabel" | translate }}</mat-label>
          <input matInput formControlName="middlename" required />
          <app-validation-error
            [control]="personalDetails.controls.middlename"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "roleReqeust.lastnameLabel" | translate }}</mat-label>
          <input matInput formControlName="lastname" required />
          <app-validation-error [control]="personalDetails.controls.lastname" />
        </mat-form-field>
      </div>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Role Details -->
  <mat-step [stepControl]="roleDetails">
    <form [formGroup]="roleDetails">
      <ng-template matStepLabel>{{
        "roleReqeust.step2Title" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{ "roleReqeust.roleLabel" | translate }}</mat-label>
          <mat-select required formControlName="role">
            @for (role of roleList(); track $index) {
            <mat-option [value]="`${role.code}`">{{ role.label }}</mat-option>
            }
          </mat-select>
          <app-validation-error [control]="roleDetails.controls.role" />
        </mat-form-field>
      </div>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- HealthCenter Details -->
  <mat-step [stepControl]="healthCenterDetails">
    <form [formGroup]="healthCenterDetails">
      <ng-template matStepLabel>{{
        "roleReqeust.step3Title" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{
            "roleReqeust.localityTypeLabel" | translate
          }}</mat-label>
          <mat-select required formControlName="healthcenterId">
            @for (role of healthCenterList(); track $index) {
            <mat-option [value]="`${role.id}`">{{ role.id }}</mat-option>
            }
          </mat-select>
          <app-validation-error
            [control]="healthCenterDetails.controls.healthCenterId"
          />
        </mat-form-field>
      </div>

      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Done -->
  <mat-step>
    <ng-template matStepLabel>{{
      "roleReqeust.doneTitle" | translate
    }}</ng-template>
    <p>{{ "roleReqeust.doneMessage" | translate }}</p>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">
        {{ "roleReqeust.resetButton" | translate }}
      </button>
      <button matButton="filled" (click)="onSubmit()">
        {{ "roleReqeust.submitButton" | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
