<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!-- Personal Details -->
  <mat-step [stepControl]="steps.personalDetails">
    <form [formGroup]="steps.personalDetails">
      <ng-template matStepLabel>{{
        "roleRequest.step1Title" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{ "roleRequest.firstnameLabel" | translate }}</mat-label>
          <input matInput formControlName="firstname" required />
          <app-validation-error
            [control]="steps.personalDetails.controls.firstname"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "roleRequest.middlenameLabel" | translate }}</mat-label>
          <input matInput formControlName="middlename" required />
          <app-validation-error
            [control]="steps.personalDetails.controls.middlename"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "roleRequest.lastnameLabel" | translate }}</mat-label>
          <input matInput formControlName="lastname" required />
          <app-validation-error [control]="steps.personalDetails.controls.lastname" />
        </mat-form-field>
      </div>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Role Details -->
  <mat-step [stepControl]="steps.roleDetails">
    <form [formGroup]="steps.roleDetails">
      <ng-template matStepLabel>{{
        "roleRequest.step2Title" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{ "roleRequest.roleLabel" | translate }}</mat-label>
          <mat-select required formControlName="role">
            @for (role of roleList(); track $index) {
            <mat-option [value]="`${role.code}`">{{ role.label }}</mat-option>
            }
          </mat-select>
          <app-validation-error [control]="steps.roleDetails.controls.role" />
        </mat-form-field>
      </div>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- HealthCenter Details -->
  <mat-step [stepControl]="steps.healthCenterDetails">
    <form [formGroup]="steps.healthCenterDetails">
      <ng-template matStepLabel>{{
        "roleRequest.step3Title" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{
            "roleRequest.healthCenterLabel" | translate
          }}</mat-label>
          <mat-select required formControlName="healthCenterId">
            @for (center of healthCenterList(); track $index) {
            <mat-option [value]="`${center.id}`">{{ center.id }}</mat-option>
            }
          </mat-select>
          <app-validation-error
            [control]="steps.healthCenterDetails.controls.healthCenterId"
          />
        </mat-form-field>
      </div>

      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Done -->
  <mat-step>
    <ng-template matStepLabel>{{
      "roleRequest.doneTitle" | translate
    }}</ng-template>
    <p>{{ "roleRequest.doneMessage" | translate }}</p>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">
        {{ "roleRequest.resetButton" | translate }}
      </button>
      <button matButton="filled" (click)="onSubmit()">
        {{ "roleRequest.submitButton" | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
