<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!-- Personal Details -->
  <mat-step [stepControl]="steps.personalDetails">
    <form [formGroup]="steps.personalDetails">
      <ng-template matStepLabel>{{
        "app.features.roleRequest.forms.steps.step1" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{ "app.features.roleRequest.forms.labels.firstname" | translate }}</mat-label>
          <input matInput formControlName="firstname" required />
          <app-validation-error
            [control]="steps.personalDetails.controls.firstname"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "app.features.roleRequest.forms.labels.middlename" | translate }}</mat-label>
          <input matInput formControlName="middlename" required />
          <app-validation-error
            [control]="steps.personalDetails.controls.middlename"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "app.features.roleRequest.forms.labels.lastname" | translate }}</mat-label>
          <input matInput formControlName="lastname" required />
          <app-validation-error [control]="steps.personalDetails.controls.lastname" />
        </mat-form-field>
      </div>
      <div>
        <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <!-- Role Details -->
  <mat-step [stepControl]="steps.roleDetails">
    <form [formGroup]="steps.roleDetails">
      <ng-template matStepLabel>{{
        "app.features.roleRequest.forms.steps.step2" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{ "app.features.roleRequest.forms.labels.role" | translate }}</mat-label>
          <mat-select required formControlName="role">
            @for (role of roleList(); track $index) {
            <mat-option [value]="`${role.code}`">{{ role.label }}</mat-option>
            }
          </mat-select>
          <app-validation-error [control]="steps.roleDetails.controls.role" />
        </mat-form-field>
      </div>
      <div>
        <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
        <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <!-- HealthCenter Details -->
  <mat-step [stepControl]="steps.healthCenterDetails">
    <form [formGroup]="steps.healthCenterDetails">
      <ng-template matStepLabel>{{
        "app.features.roleRequest.forms.steps.step3" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{
            "app.features.roleRequest.forms.labels.healthCenter" | translate
          }}</mat-label>
          <mat-select required formControlName="healthCenterId">
            @for (center of healthCenterList(); track $index) {
            <mat-option [value]="`${center.id}`">{{ center.name }}</mat-option>
            }
          </mat-select>
          <app-validation-error
            [control]="steps.healthCenterDetails.controls.healthCenterId"
          />
        </mat-form-field>
      </div>

      <div>
        <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
        <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <!-- Done -->
  <mat-step>
    <ng-template matStepLabel>{{
      "app.common.doneTitle" | translate
    }}</ng-template>
    <p>{{ "app.common.doneMessage" | translate }}</p>
    <div>
      <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
      <button matButton (click)="stepper.reset()">
        {{ "app.common.resetButton" | translate }}
      </button>
      <button matButton="filled" (click)="onSubmit()" [disabled]="isLoading()">
        {{ "app.common.submitButton" | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
