
<div class="h-full w-full grid md:grid-rows-10 grid-cols-12 gap-2">
  <!-- Values -->
  <div class="row-span-2 col-span-6 md:col-span-3 md:p-2 md:order-none order-4">
    <app-data-card-label
      [value]="`${familyStats()?.totalFamilies ?? 0}`"
      [label]="`Families`"
    />
  </div>
  <div class="row-span-2 col-span-6 md:col-span-3 md:p-2 md:order-none order-5">
    <app-data-card-label
      [value]="`${memberStats()?.totalMembers ?? 0}`"
      [label]="`Population`"
    />
  </div>
  <div class="row-span-4 col-span-12 md:col-span-3 paper md:order-none order-8">
    <canvas
      baseChart
      [data]="genderChartData()"
      [type]="chartType"
      [options]="chartOptions"
    >
    </canvas>
  </div>
  <div class="row-span-4 col-span-12 md:col-span-3 paper md:order-none order-9">
    <canvas
      baseChart
      [data]="povertyChartData()"
      [type]="chartType"
      [options]="chartOptions"
    >
    </canvas>
  </div>
  <div class="row-span-2 col-span-6 md:col-span-3 md:p-2 md:order-none order-6">
    <app-data-card-label [value]="`1000`" [label]="`NCD Population`" />
  </div>
  <div class="row-span-2 col-span-6 md:col-span-3 md:p-2 md:order-none order-7">
    <app-data-card-label [value]="`1000`" [label]="`Pregnant Women`" />
  </div>

  <!-- records line charts -->
  <div
    class="row-span-6 col-span-12 md:col-span-6 md:order-none order-11 paper p-2"
  >
    <canvas
      baseChart
      [data]="lineChartData"
      [type]="lineChartType"
      [options]="lineChartOptions"
    ></canvas>
  </div>

  <div
    class="row-span-6 col-span-12 md:col-span-6 md:order-none order-10 paper p-2"
  ></div>
</div>
