<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!-- Family Details -->
  <mat-step [stepControl]="steps.familyDetails">
    <form [formGroup]="steps.familyDetails">
      <ng-template matStepLabel>{{
        "app.features.registry.family.forms.steps.step1" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{
            "app.features.registry.family.forms.labels.povertyStatus" | translate
          }}</mat-label>
          <mat-select required formControlName="povertyStatus">
            @for (povertyStatus of povertyStatusList(); track
            povertyStatus.code) {
            <mat-option [value]="`${povertyStatus.code}`">{{
              povertyStatus.label
            }}</mat-option>
            }
          </mat-select>
          <app-validation-error
            [control]="steps.familyDetails.controls.povertyStatus"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "app.features.registry.family.forms.labels.houseId" | translate
          }}</mat-label>
          <input matInput formControlName="houseId" required />
          <app-validation-error
            [control]="steps.familyDetails.controls.houseId"
          />
        </mat-form-field>
      </div>
      <div>
        <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>
  <!-- Done -->
  <mat-step>
    <ng-template matStepLabel>{{
      "app.common.doneTitle" | translate
    }}</ng-template>
    <p>{{ "app.common.doneMessage" | translate }}</p>
    <div>
      <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
      <button matButton (click)="stepper.reset()">
        {{ "app.common.resetButton" | translate }}
      </button>
      <button matButton="filled" (click)="onSubmit()" [disabled]="isLoading()">
        {{ "app.common.submitButton" | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
