@if(isLoading()){
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div class="h-full w-full grid md:grid-rows-12 grid-cols-12 gap-2">
  <!-- Greetings -->
  <div class="row-span-2 col-span-12 p-3">
    @if(!isAdmin() && !isAsha()){
    <app-dashboard-header
      message="You don't have enough permission to access application."
    />
    } @else {
    <app-dashboard-header />
    }
  </div>

  <div class="row-span-10 col-span-12 p-3">
    @if (isAdmin()) {
    <app-admin-dashboard />
    } @else if(isAsha()){
    <app-asha-dashboard greetings="Hello, Asha" />
    } @else if(isUser()){
    <app-user-dashboard />
    }
  </div>
</div>
