<app-page-wrapper>
  <div top>
    <app-page-header [title]="'app.features.users.page.detailsTitle' | translate">
      <!-- @if(isAdmin()) {
      <mat-action-list>
        <a matIconButton [matMenuTriggerFor]="menu">
          <mat-icon class="h-[24px] w-[24px]">more_vert</mat-icon>
        </a>
      </mat-action-list>

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button
          mat-menu-item
          [routerLink]="['/users/update', userDetails()?.id ?? '']"
        >
          <mat-icon>edit</mat-icon>
          <span>{{ 'app.common.update' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
      </mat-menu>
      } -->
    </app-page-header>
  </div>

  <div content class="flex flex-wrap justify-evenly gap-3">
    <!-- RoleRequest Details -->
    @if(data().length > 0){
    <div class="paper flex flex-wrap">
      <app-user-details [userData]="data()"></app-user-details>
    </div>
    } @else {
      <div class="overflow-scroll flex justify-center items-center">
        <mat-icon>search_off</mat-icon>
        <h4 class="ml-4 text-wrap">{{ 'app.common.notFound' | translate }}</h4>
      </div>
    }
  </div>
</app-page-wrapper>
