<div class="flex flex-col gap-5">
  <app-page-header
    title="{{ 'registry.healthRecord.addhealthRecordTitle' | translate }}"
  />
  <mat-stepper orientation="vertical" [linear]="true" #stepper>
    <!-- Birth Details -->
    <mat-step [stepControl]="basicDetails">
      <form [formGroup]="basicDetails">
        <ng-template matStepLabel>{{
          "registry.healthRecord.step1Title" | translate
        }}</ng-template>
        <div class="flex gap-3 flex-wrap md:w-2/3">
          <mat-form-field>
            <mat-label>{{
              "registry.healthRecord.dateLabel" | translate
            }}</mat-label>
            <input matInput type="date" formControlName="date" required />
            <app-validation-error [control]="basicDetails.controls.date" />
          </mat-form-field>
        </div>
        <div>
          <button matButton matStepperPrevious>Back</button>
          <button matButton matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Birth Details -->
    <mat-step [stepControl]="healthStatus">
      <form [formGroup]="healthStatus">
        <ng-template matStepLabel>{{
          "registry.healthRecord.step2Title" | translate
        }}</ng-template>
        <div class="flex gap-3 flex-wrap md:w-2/3">
          <mat-form-field>
            <mat-label>{{
              "registry.healthRecord.heightLabel" | translate
            }}</mat-label>
            <input matInput type="number" formControlName="height" required />
            <app-validation-error [control]="healthStatus.controls.height" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{
              "registry.healthRecord.weightLabel" | translate
            }}</mat-label>
            <input matInput type="number" formControlName="weight" />
            <app-validation-error [control]="healthStatus.controls.weight" />
          </mat-form-field>
        </div>
        <div>
          <button matButton matStepperPrevious>Back</button>
          <button matButton matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Identification Details -->
    <mat-step [stepControl]="pregnancyStatus">
      <form [formGroup]="pregnancyStatus">
        <ng-template matStepLabel>{{
          "registry.healthRecord.step3Title" | translate
        }}</ng-template>
        <div class="flex gap-3 flex-wrap md:w-2/3">
          <mat-checkbox formControlName="pregnant">
            <mat-label>{{
              "registry.healthRecord.pregnantLabel" | translate
            }}</mat-label>
          </mat-checkbox>
          <app-validation-error [control]="pregnancyStatus.controls.pregnant" />
        </div>

        <div>
          <button matButton matStepperPrevious>Back</button>
          <button matButton matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Contact Details -->
    <mat-step [stepControl]="ncdStatus">
      <form [formGroup]="ncdStatus">
        <ng-template matStepLabel>{{
          "registry.healthRecord.step4Title" | translate
        }}</ng-template>
        <div class="flex gap-3 flex-wrap md:w-2/3">
          @for(ncd of ncdOptions() ; track ncd){
          <div>
            <mat-checkbox formControlName="ncdlist" value="ncd.id">{{
              ncd.name
            }}</mat-checkbox>
          </div>
          }
          <app-validation-error [control]="ncdStatus.controls.ncdlist" />
        </div>

        <div>
          <button matButton matStepperPrevious>Back</button>
          <button matButton matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <!-- Done -->
    <mat-step>
      <ng-template matStepLabel>{{
        "registry.healthRecord.doneTitle" | translate
      }}</ng-template>
      <p>{{ "registry.healthRecord.doneMessage" | translate }}</p>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton (click)="stepper.reset()">
          {{ "registry.healthRecord.resetButton" | translate }}
        </button>
        <button matButton="filled" (click)="onSubmit()">
          {{ "registry.healthRecord.submitButton" | translate }}
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
