<app-page-wrapper>
  <div top>
    <app-page-header [title]="'app.features.roleRequest.page.detailsTitle' | translate">
      @if(!isAdmin()) {
      <mat-action-list>
        <a matIconButton [matMenuTriggerFor]="menu">
          <mat-icon class="h-[24px] w-[24px]">more_vert</mat-icon>
        </a>
      </mat-action-list>

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button
          mat-menu-item
          [routerLink]="[
            '/role-requests/update',
            roleRequestDetails().id ?? ''
          ]"
        >
          <mat-icon>edit</mat-icon>
          <span>{{ 'app.common.update' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="handleDeleteClick()">
          <mat-icon>delete</mat-icon>
          <span>{{ 'app.common.delete' | translate }}</span>
        </button>
      </mat-menu>
      }
    </app-page-header>
  </div>

  <div content class="flex flex-wrap justify-evenly gap-3">
    <!-- RoleRequest Details -->
    @if(data().length > 0){
    <div class="paper flex flex-wrap">
      <app-role-request-details
        [roleRequest]="data()"
      ></app-role-request-details>
    </div>
    @if(isAdmin()){
    <div class="flex paper p-3 flex-wrap w-full justify-center gap-3">
      <button
        matButton="filled"
        (click)="handleApproveClick()"
        [disabled]="roleRequestDetails().status === 'APPROVED'"
      >
        {{ 'app.features.roleRequest.actions.approve' | translate }}
      </button>
      <button
        matButton="outlined"
        (click)="handleRejectClick()"
        [disabled]="roleRequestDetails().status === 'APPROVED'"
      >
        {{ 'app.features.roleRequest.actions.reject' | translate }}
      </button>
    </div>
    } }@else {
    <div class="overflow-scroll flex justify-center items-center">
      <mat-icon>search_off</mat-icon>
      <h4 class="ml-4 text-wrap">{{ 'app.common.somethingWentWrong' | translate }}</h4>
    </div>
    }
  </div>
</app-page-wrapper>
