<app-page-wrapper>
  <div top>
    <app-page-header title="Role Request Details"> </app-page-header>
  </div>

  <div content class="flex flex-wrap justify-evenly gap-3">
    <!-- Family Details -->
    @if(data().length > 0){
    <div class="w-full paper h-max flex-[3] flex flex-wrap">
      <app-role-request-details
        [roleRequest]="data()"
      ></app-role-request-details>
    </div>
    }@else {
    <div class="overflow-scroll flex justify-center items-center">
      <mat-icon>search_off</mat-icon>
      <h4 class="ml-4 text-wrap">something went wrong</h4>
    </div>
    }

    <!-- Member List -->
    <!-- <div class="w-full paper flex-[2] flex flex-col p-2 gap-5">
      <div class="flex justify-center">
        <button
          matFab
          extended
          [routerLink]="'/registry/members/new'"
          [queryParams]="{ familyId: memberData()?.familyId }"
        >
          <mat-icon>add</mat-icon>
          Add New Member
        </button>
      </div>
    </div> -->
  </div>
</app-page-wrapper>
