<div class="d-flex w-full h-full">
  <mat-card class="m-auto" style="max-width: 380px">
    <mat-card-header class="m-b-24">
      <mat-card-title>👋 {{ 'login_title' | translate }}!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="form-field-full" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'username' | translate }}</mat-label>
          <input matInput placeholder="username" formControlName="username" required />
          <app-validation-error 
          [control]="this.loginForm.get('username')"
          [minLength]="3"
          [maxLength]="50"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'password' | translate }}</mat-label>
          <input
            matInput
            placeholder="Enter your password"
            type="password"
            formControlName="password"
            required
          />
         <app-validation-error 
         [control]="this.loginForm.get('password')"
         [minLength]="8"
         [maxLength]="50"
         />
        </mat-form-field>

        <button
          class="w-full m-y-16"
          mat-flat-button
          [disabled]="loginForm.invalid || isSubmitting"
          (click)="login()"
        >
          {{ 'login' | translate }}
        </button>

        <div>
          <span>{{ 'have_no_account' | translate }}?</span>
          <a routerLink="/auth/register">{{ 'create_one_account' | translate }}</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
