<div class="col-span-12 md:col-span-8">
  <div class="flex flex-col gap-2 w-full h-full">
    <app-page-header title="Member Details">
      <mat-action-list>
        <a matIconButton>
          <mat-icon class="h-[24px] w-[24px]">more_vert</mat-icon>
        </a>
      </mat-action-list>
    </app-page-header>

    <!-- <h4 class="text-lg font-normal text-center">Ramesh Ghorpade</h4> -->
    <div class="flex justify-around paper">
      <mat-list>
        <app-data-label
          name="familyId"
          value="13122"
          icon="shower"
        ></app-data-label>
      </mat-list>
      <mat-list>
        <app-data-label
          name="familyId"
          value="13122"
          icon="shower"
        ></app-data-label>
      </mat-list>
    </div>
  </div>
</div>
