<app-page-wrapper>
  <div top>
    <app-page-header title="Member Details">
      <mat-action-list>
        <a matIconButton>
          <mat-icon class="h-[24px] w-[24px]">more_vert</mat-icon>
        </a>
      </mat-action-list>
    </app-page-header>
  </div>

  <!-- <h4 class="text-lg font-normal text-center">Ramesh Ghorpade</h4> -->
  <div content class="paper flex">
    <div class="flex-[2]">
      <mat-list>
        <app-data-label
          name="familyId"
          value="13122"
          icon="shower"
        ></app-data-label>
      </mat-list>
    </div>
    <div class="flex-[2]">
      <mat-list>
        <app-data-label
          name="familyId"
          value="13122"
          icon="shower"
        ></app-data-label>
      </mat-list>
    </div>
  </div>
</app-page-wrapper>
