/* You can add global styles to this file, and also import other style files */
@use "tailwindcss/utilities" as *;

.mat-drawer,
.mat-sidenav,
.mat-menu {
  display: block !important;
  /* Prevent Angular Material from applying flexbox styles that could conflict */
}

/* Reset body and html padding/margins if Angular Material adds unexpected margin */
html,
body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-wrap-style: balance;
}

// surfaces
.paper {
  box-shadow: var(--mat-sys-level1);
  background-color: var(--mat-sys-surface);
}

// typography
/* Body Typography */
.mat-body-small {
  font-size: var(--mat-sys-body-small);
}

.mat-body-medium {
  font-size: var(--mat-sys-body-medium);
}

.mat-body-large {
  font-size: var(--mat-sys-body-large);
}

/* Display Typography */
.mat-display-small {
  font-size: var(--mat-sys-display-small);
}

.mat-display-medium {
  font-size: var(--mat-sys-display-medium);
}

.mat-display-large {
  font-size: var(--mat-sys-display-large);
}

/* Headline Typography */
.mat-headline-small {
  font-size: var(--mat-sys-headline-small);
}

.mat-headline-medium {
  font-size: var(--mat-sys-headline-medium);
  line-height: 2.25rem;
}

.mat-headline-large {
  font-size: var(--mat-sys-headline-large);
  line-height: 2.5rem;
}

/* Label Typography */
.mat-label-small {
  font-size: var(--mat-sys-label-small);
}

.mat-label-medium {
  font-size: var(--mat-sys-label-medium);
}

.mat-label-large {
  font-size: var(--mat-sys-label-large);
}

/* Title Typography */
.mat-title-small {
  font-size: var(--mat-sys-title-small);
}

.mat-title-medium {
  font-size: var(--mat-sys-title-medium);
}

.mat-title-large {
  font-size: var(--mat-sys-title-large);
}