<div class="flex flex-col gap-3 items-center w-72">
  <div class="w-full text-center px-5">
    <h3 class="font-normal">Register</h3>
  </div>

  <form [formGroup]="registerForm" class="flex justify-center items-center w-full flex-col gap-3">
    <mat-form-field class="w-full">
      <mat-label>Username</mat-label>
      <input matInput required [disabled]="false" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input matInput type="password" required [disabled]="false" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" required [disabled]="false" />
    </mat-form-field>

    <button
      matButton="filled"
      class="w-full"
      (click)="register()"
      [disabled]="false"
    >
      @if (false) {
      <mat-spinner diameter="20"></mat-spinner>
      }@else { Register }
    </button>
    <button matButton="text" class="w-full" routerLink="/auth/login">
      Back to login
    </button>
  </form>
</div>
