<app-page-wrapper>
  <div top>
    <app-page-header [title]="'app.features.registry.member.page.detailsTitle' | translate">
      <mat-action-list>
        <a matIconButton [matMenuTriggerFor]="menu">
          <mat-icon class="h-[24px] w-[24px]">more_vert</mat-icon>
        </a>
      </mat-action-list>

      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button
          mat-menu-item
          [routerLink]="['/registry/members/update', memberData()?.id ?? '']"
        >
          <mat-icon>edit</mat-icon>
          <span>{{ 'app.common.update' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="handleDeleteMember()">
          <mat-icon>delete</mat-icon>
          <span>{{ 'app.common.delete' | translate }}</span>
        </button>
      </mat-menu>
    </app-page-header>
  </div>

  <div content class="flex flex-wrap justify-evenly gap-3">
    <!-- Family Details -->
    @if(data().length > 0){
    <div class="h-max paper flex flex-wrap">
      <app-member-details [memberData]="data()"></app-member-details>
    </div>
    }@else {
    <div class="overflow-scroll flex justify-center items-center">
      <mat-icon>search_off</mat-icon>
      <h4 class="ml-4 text-wrap">{{ 'app.common.notFound' | translate }}</h4>
    </div>
    }

    <!-- Other -->
    <div class="w-full paper flex-[2] flex flex-col p-2 gap-5">
      <div class="flex justify-center">
        <button
          matFab
          extended
          [routerLink]="[`/registry/health/records/`]"
          [queryParams]="{ memberId: memberData()?.id ?? '' }"
        >
          <mat-icon>fitness_center</mat-icon>
          {{ 'app.features.registry.member.page.viewHealthRecords' | translate }}
        </button>
      </div>
    </div>
  </div>
</app-page-wrapper>
