<app-page-wrapper>
  <div top>
    <app-page-header [title]="'app.features.analytics.page.gender.title' | translate"> </app-page-header>
  </div>

  <div content class="h-full flex flex-col">
    <!-- Date Filters -->
    <form [formGroup]="dateForm" class="flex justify-center gap-4">
      <mat-form-field class="md:w-1/3">
        <mat-label>{{ 'app.common.fromLabel' | translate }}</mat-label>
        <input
          matInput
          type="date"
          formControlName="startDate"
          [max]="today | date : 'yyyy-MM-dd'"
        />
      </mat-form-field>

      <mat-form-field class="md:w-1/3">
        <mat-label>{{ 'app.common.toLabel' | translate }}</mat-label>
        <input
          matInput
          type="date"
          formControlName="endDate"
          [min]="dateForm.value.startDate"
          [max]="today | date : 'yyyy-MM-dd'"
        />
      </mat-form-field>
    </form>

    <!-- Pie Chart -->
    <div>
      <app-analytics-member-gender-chart
        [searchStartDate]="searchStartDate()"
        [searchEndDate]="searchEndDate()"
      ></app-analytics-member-gender-chart>
    </div>

    <!-- Line Chart -->
    <div>
      <app-anlaytics-member-gender-line-chart
        [searchStartDate]="searchStartDate()"
        [searchEndDate]="searchEndDate()"
      >
      </app-anlaytics-member-gender-line-chart>
    </div>
  </div>
</app-page-wrapper>
