@if (control() && control().errors && control().touched && control().invalid &&
control().dirty) { @if (control().hasError('required')) {
<mat-error>
  <span>{{ "app.validation.required" | translate }}</span>
</mat-error>
} @if (control().hasError('minlength')) {
<mat-error>
  <span>{{
    "app.validation.minLength"
      | translate
        : { minLength: control().getError("minlength")?.requiredLength }
  }}</span>
</mat-error>
} @if (control().hasError('maxlength')) {
<mat-error>
  <span>{{
    "app.validation.maxLength"
      | translate
        : { maxLength: control().getError("maxlength")?.requiredLength }
  }}</span>
</mat-error>
} @if (control().hasError('pattern')) {
<mat-error>
  <span>{{ "app.validation.pattern" | translate }}</span>
</mat-error>
} @if (control().hasError('email')) {
<mat-error>
  <span>{{ "app.validation.email" | translate }}</span>
</mat-error>
} @if (control().hasError('min')) {
<mat-error>
  <span>{{
    "app.validation.min"
      | translate : { minValue: control().getError("min")?.requiredLength }
  }}</span>
</mat-error>
} @if (control().hasError('max')) {
<mat-error>
  <span>{{
    "app.validation.max"
      | translate : { maxValue: control().getError("max")?.requiredLength }
  }}</span>
</mat-error>
} @if (control().hasError('mismatch')) {
<mat-error>
  <span>{{
    "app.validation.inconsistent" | translate : { fieldName: componentName }
  }}</span>
</mat-error>
} }
