<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!-- Personal Details -->
  <mat-step [stepControl]="steps.personalDetails">
    <form [formGroup]="steps.personalDetails">
      <ng-template matStepLabel>{{
        "registry.member.step1Title" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{
            "registry.member.firstnameLabel" | translate
          }}</mat-label>
          <input matInput formControlName="firstname" required />
          <app-validation-error
            [control]="steps.personalDetails.controls.firstname"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "registry.member.middlenameLabel" | translate
          }}</mat-label>
          <input matInput formControlName="middlename" required />
          <app-validation-error
            [control]="steps.personalDetails.controls.middlename"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "registry.member.lastnameLabel" | translate
          }}</mat-label>
          <input matInput formControlName="lastname" required />
          <app-validation-error
            [control]="steps.personalDetails.controls.lastname"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "registry.member.genderLabel" | translate }}</mat-label>
          <mat-select required>
            @for (gender of genderList(); track gender.code) {
            <mat-option [value]="`${gender.code}`">{{
              gender.label
            }}</mat-option>
            }
          </mat-select>
          <app-validation-error
            [control]="steps.personalDetails.controls.gender"
          />
        </mat-form-field>
        @if(isUpdate()){
        <mat-form-field>
          <mat-label>{{ "registry.member.aliveStatusLabel" | translate }}</mat-label>
          <mat-select required>
            @for (aliveStatuse of aliveStatusOptions(); track aliveStatuse .code) {
            <mat-option [value]="`${aliveStatuse .code}`">{{
              aliveStatuse .label
            }}</mat-option>
            }
          </mat-select>
          <app-validation-error
            [control]="steps.personalDetails.controls.aliveStatus"
          />
        </mat-form-field>
        }
      </div>
      <div>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Birth Details -->
  <mat-step [stepControl]="steps.birthDetails">
    <form [formGroup]="steps.birthDetails">
      <ng-template matStepLabel>{{
        "registry.member.step2Title" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{ "registry.member.dobLabel" | translate }}</mat-label>
          <input matInput type="date" formControlName="dateOfBirth" required />
          <app-validation-error
            [control]="steps.birthDetails.controls.dateOfBirth"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "registry.member.birthPlaceLabel" | translate
          }}</mat-label>
          <input matInput formControlName="birthPlace" />
          <app-validation-error
            [control]="steps.birthDetails.controls.birthPlace"
          />
        </mat-form-field>
      </div>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Identification Details -->
  <mat-step [stepControl]="steps.identificationDetails">
    <form [formGroup]="steps.identificationDetails">
      <ng-template matStepLabel>{{
        "registry.member.step3Title" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{
            "registry.member.adharNumberLabel" | translate
          }}</mat-label>
          <input matInput formControlName="adharNumber" required />
          <app-validation-error
            [control]="steps.identificationDetails.controls.adharNumber"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "registry.member.abhaNumberLabel" | translate
          }}</mat-label>
          <input matInput formControlName="abhaNumber" />
          <app-validation-error
            [control]="steps.identificationDetails.controls.abhaNumber"
          />
        </mat-form-field>
      </div>

      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Contact Details -->
  <mat-step [stepControl]="steps.contactDetails">
    <form [formGroup]="steps.contactDetails">
      <ng-template matStepLabel>{{
        "registry.member.step4Title" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{
            "registry.member.mobileNumberLabel" | translate
          }}</mat-label>
          <input matInput formControlName="mobileNumber" />
          <app-validation-error
            [control]="steps.contactDetails.controls.mobileNumber"
          />
        </mat-form-field>
      </div>

      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <!-- Done -->
  <mat-step>
    <ng-template matStepLabel>{{
      "registry.member.doneTitle" | translate
    }}</ng-template>
    <p>{{ "registry.member.doneMessage" | translate }}</p>
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">
        {{ "registry.member.resetButton" | translate }}
      </button>
      <button matButton="filled" (click)="onSubmit()" [disabled]="isLoading()">
        {{ "registry.member.submitButton" | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
