<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!-- Personal Details -->
  <mat-step [stepControl]="steps.personalDetails">
    <form [formGroup]="steps.personalDetails">
      <ng-template matStepLabel>{{
        "app.features.registry.member.forms.steps.step1" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{
            "app.features.registry.member.forms.labels.firstname" | translate
          }}</mat-label>
          <input matInput formControlName="firstname" required />
          <app-validation-error
            [control]="steps.personalDetails.controls.firstname"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "app.features.registry.member.forms.labels.middlename" | translate
          }}</mat-label>
          <input matInput formControlName="middlename" required />
          <app-validation-error
            [control]="steps.personalDetails.controls.middlename"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "app.features.registry.member.forms.labels.lastname" | translate
          }}</mat-label>
          <input matInput formControlName="lastname" required />
          <app-validation-error
            [control]="steps.personalDetails.controls.lastname"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "app.features.registry.member.forms.labels.gender" | translate }}</mat-label>
          <mat-select required>
            @for (gender of genderList(); track gender.code) {
            <mat-option [value]="`${gender.code}`">{{
              gender.label
            }}</mat-option>
            }
          </mat-select>
          <app-validation-error
            [control]="steps.personalDetails.controls.gender"
          />
        </mat-form-field>
        @if(isUpdate()){
        <mat-form-field>
          <mat-label>{{ "app.features.registry.member.forms.labels.aliveStatus" | translate }}</mat-label>
          <mat-select required>
            @for (aliveStatuse of aliveStatusOptions(); track aliveStatuse .code) {
            <mat-option [value]="`${aliveStatuse .code}`">{{
              aliveStatuse .label
            }}</mat-option>
            }
          </mat-select>
          <app-validation-error
            [control]="steps.personalDetails.controls.aliveStatus"
          />
        </mat-form-field>
        }
      </div>
      <div>
        <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <!-- Birth Details -->
  <mat-step [stepControl]="steps.birthDetails">
    <form [formGroup]="steps.birthDetails">
      <ng-template matStepLabel>{{
        "app.features.registry.member.forms.steps.step2" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{ "app.features.registry.member.forms.labels.dob" | translate }}</mat-label>
          <input matInput type="date" formControlName="dateOfBirth" required />
          <app-validation-error
            [control]="steps.birthDetails.controls.dateOfBirth"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "app.features.registry.member.forms.labels.birthPlace" | translate
          }}</mat-label>
          <input matInput formControlName="birthPlace" />
          <app-validation-error
            [control]="steps.birthDetails.controls.birthPlace"
          />
        </mat-form-field>
      </div>
      <div>
        <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
        <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <!-- Identification Details -->
  <mat-step [stepControl]="steps.identificationDetails">
    <form [formGroup]="steps.identificationDetails">
      <ng-template matStepLabel>{{
        "app.features.registry.member.forms.steps.step3" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{
            "app.features.registry.member.forms.labels.adharNumber" | translate
          }}</mat-label>
          <input matInput formControlName="adharNumber" required />
          <app-validation-error
            [control]="steps.identificationDetails.controls.adharNumber"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{
            "app.features.registry.member.forms.labels.abhaNumber" | translate
          }}</mat-label>
          <input matInput formControlName="abhaNumber" />
          <app-validation-error
            [control]="steps.identificationDetails.controls.abhaNumber"
          />
        </mat-form-field>
      </div>

      <div>
        <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
        <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <!-- Contact Details -->
  <mat-step [stepControl]="steps.contactDetails">
    <form [formGroup]="steps.contactDetails">
      <ng-template matStepLabel>{{
        "app.features.registry.member.forms.steps.step4" | translate
      }}</ng-template>
      <div class="flex gap-3 flex-wrap md:w-2/3">
        <mat-form-field>
          <mat-label>{{
            "app.features.registry.member.forms.labels.mobileNumber" | translate
          }}</mat-label>
          <input matInput formControlName="mobileNumber" />
          <app-validation-error
            [control]="steps.contactDetails.controls.mobileNumber"
          />
        </mat-form-field>
      </div>

      <div>
        <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
        <button matButton matStepperNext>{{ 'app.common.next' | translate }}</button>
      </div>
    </form>
  </mat-step>

  <!-- Done -->
  <mat-step>
    <ng-template matStepLabel>{{
      "app.common.doneTitle" | translate
    }}</ng-template>
    <p>{{ "app.common.doneMessage" | translate }}</p>
    <div>
      <button matButton matStepperPrevious>{{ 'app.common.back' | translate }}</button>
      <button matButton (click)="stepper.reset()">
        {{ "app.common.resetButton" | translate }}
      </button>
      <button matButton="filled" (click)="onSubmit()" [disabled]="isLoading()">
        {{ "app.common.submitButton" | translate }}
      </button>
    </div>
  </mat-step>
</mat-stepper>
