<div class="h-full grid grid-cols-12 md:gap-3">
  <div class="col-span-12 md:col-span-8">
    <div class="flex flex-col gap-2 w-full h-full">
      <div class="">
        <app-top-toolbar title="Family Details">
          <mat-action-list>
            <a matIconButton>
              <mat-icon>more_vert</mat-icon>
            </a>
          </mat-action-list>
        </app-top-toolbar>
      </div>
      <div class="">
        <!-- <h4 class="text-lg font-normal text-center">Ramesh Ghorpade</h4> -->
        <div
          style="box-shadow: var(--mat-sys-level1)"
          class="flex justify-around"
        >
          <mat-list>
            <app-data-label
              name="familyId"
              value="13122"
              icon="shower"
            ></app-data-label>
          </mat-list>
          <mat-list>
            <app-data-label
              name="familyId"
              value="13122"
              icon="shower"
            ></app-data-label>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-12 md:col-span-4">
    <div class="flex flex-col p-2 gap-5" style="box-shadow: var(--mat-sys-level1)">
      <div class="flex justify-center">
       <button matFab extended [routerLink]="'/registry/member/register'">
        <mat-icon>add</mat-icon>
        Add New Member
      </button>
      </div>

      <mat-action-list>
        <a mat-list-item [routerLink]="`/registry/health/1`">
          <div matListItemAvatar class="flex items-center justify-center">
            <mat-icon>person</mat-icon>
          </div>
          <h3 matListItemTitle>Member Name</h3>
          <p matListItemLine>Age : 35</p>
        </a>
      </mat-action-list>
    </div>
  </div>
</div>
