<app-page-wrapper>
  <div top>
    <app-page-header title="Family Registry" />
  </div>

  <div content class="h-full flex flex-col gap-5">
    <!-- Add Family Button -->
    <div class="flex justify-center">
      <button mat-fab extended [routerLink]="['families', 'new']">
        <mat-icon>add</mat-icon>
        Add New Family
      </button>
    </div>

    <!-- Search Family -->
    <div class="flex justify-center">
      <mat-form-field class="md:w-1/3">
        <mat-label>Search family by house id</mat-label>
        <input matInput #input [disabled]="totalSize() == 0" />
      </mat-form-field>
    </div>

    @if(totalSize() == 0){
    <div class="overflow-scroll flex justify-center items-center">
      <mat-icon>search_off</mat-icon>
      <h4 class="ml-4 text-wrap">No families found. Try adding a new one!</h4>
    </div>
    }@else {

    <!-- Family List -->
    <mat-action-list>
      <div class="h-[480px] overflow-scroll">
        @for (family of familyHeadList(); track $index) {
        <a mat-list-item [routerLink]="['families', family.id]">
          <div matListItemAvatar class="flex items-center justify-center">
            <mat-icon>person</mat-icon>
          </div>
          <h3 matListItemTitle>{{ getFullName(family.name) }}</h3>
          <p matListItemLine>Id : {{ family.id }}</p>
          <p matListItemMeta>Age : {{ family.age }}</p>
        </a>
        }
      </div>
    </mat-action-list>

    }
    <!-- Pagination -->
    <div class="sticky bottom-0">
      <mat-paginator
        [pageIndex]="page()"
        [length]="totalSize()"
        [pageSize]="pageSize()"
        (page)="onPageChange($event)"
        [disabled]="totalSize() == 0"
      >
      </mat-paginator>
    </div>
  </div>
</app-page-wrapper>
