<div
  id="registryPage"
  class="w-full h-full flex flex-col justify-around gap-2 md:gap-0 items-center"
>
  <div class="p-2">
    <button matFab extended [routerLink]="'family/register'">
      <mat-icon>add</mat-icon>
      Add New Family
    </button>
  </div>

  <div class="w-full flex flex-col items-center">
    <div class="">
      <mat-form-field >
        <mat-label>Filter</mat-label>
        <input matInput #input />
      </mat-form-field>
    </div>
    <div class="md:w-1/2 h-1/2 paper">
      <div class="h-full overflow-auto">
        <mat-action-list>
          @for (family of users; track $index) {
          <a mat-list-item [routerLink]="`family/${family.id}`">
            <div matListItemAvatar class="flex items-center justify-center">
              <mat-icon>person</mat-icon>
            </div>
            <h3 matListItemTitle>{{ family.name }}</h3>
            <p matListItemLine>Age : {{ family.age }}</p>
          </a>
          }
        </mat-action-list>
      </div>
      <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
        class="paper"
      >
      </mat-paginator>
    </div>
  </div>
</div>
