<app-page-wrapper>
  <div top>
    <app-page-header title="Alive Status Analytics"> </app-page-header>
  </div>

  <div content class="h-full flex flex-col">
    <!-- Date Filters -->
    <form [formGroup]="dateForm" class="flex justify-center gap-4">
      <mat-form-field class="md:w-1/3">
        <mat-label>From</mat-label>
        <input
          matInput
          type="date"
          formControlName="startDate"
          [max]="today | date : 'yyyy-MM-dd'"
        />
      </mat-form-field>

      <mat-form-field class="md:w-1/3">
        <mat-label>To</mat-label>
        <input
          matInput
          type="date"
          formControlName="endDate"
          [min]="dateForm.value.startDate"
          [max]="today | date : 'yyyy-MM-dd'"
        />
      </mat-form-field>
    </form>


    <!-- Pie Chart -->
    <div>
      <app-analytics-member-alive-status-dist
        [searchStartDate]="searchStartDate()"
        [searchEndDate]="searchEndDate()"
      ></app-analytics-member-alive-status-dist>
    </div>

    <!-- Line Chart -->
    <div>
      <app-anlaytics-member-alive-status-line-chart
        [searchStartDate]="searchStartDate()"
        [searchEndDate]="searchEndDate()"
      >
      </app-anlaytics-member-alive-status-line-chart>
    </div>
  </div>
</app-page-wrapper>
