<div class="w-full md:hidden shrink-0">
  <!-- FIX : change bg color for dark mode -->
  <div class="w-full bottom-0 fixed md:hidden z-50">
    <mat-card appearance="raised">
      <div class="flex flex-row justify-center items-center">
        @for(menu of menuList() ; track $index){
        <div
          class="my-[6px] w-[112px] flex flex-col justify-center items-center transition-all duration-300"
          [routerLink]="menu.route"
        >
          <div
            class="h-[32px] w-[56px] my-[4px] flex items-center justify-center transition-colors duration-300 rounded-2xl"
            routerLinkActive="active-link"
          >
            <mat-icon class="w-[24px] h-[24px]">{{ menu.icon }}</mat-icon>
          </div>
          <div id="label" class="font-light text-xs text-center">
            {{ menu.label | translate }}
          </div>
        </div>
        }
      </div>
    </mat-card>
  </div>
</div>
